.skills {
  width: 80%;
  margin: 10px auto;
  direction: rtl;
  padding: 10px;
}
.btn {
}
.skills h2 {
  border-bottom: 1px solid red;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  width: 80%;
}
.skills {
  /* background-color: darkslateblue; */
}
.skills div {
  margin: auto;
  /* text-align: justify; */
  width: 80%;
  font-size: 17px;
  /* display: flex; */
}
.skills label {
  margin-left: 70px;
}
@media only screen and (max-width: 600px) {
  /* .work p {
    width: 90%;
    font-size: 16px;
  }
  .work h2 {
    border-bottom: 1px solid red;
    align-items: center;
    text-align: center;
    margin: 30px auto;
    width: 90%;
  } */
}
