.tollbar {
  width: 100%;
  /* height: 130px; */
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.726);
  backdrop-filter: blur(30px);
  z-index: 100;
  text-align: center;
  justify-content: center;
  direction: rtl;
  position: fixed;
  top: 0;
  color: white;
}

.tollbar div {
  width: 100%;
  /* background-color: blue; */
}
.tollbar ul {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  /* background-color: black; */
}
.tollbar ul li {
  color: white;
  margin-left: 10px;
  list-style-type: none;
}
.tollbar a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  .tollbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .tollbar ul li {
    margin-left: 1px;
  }
}
