.SiteExample h2 {
  border-bottom: 1px solid red;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  width: 40%;
}
.SiteExample p {
  margin: auto;
  text-align: center;
  font-size: 17px;
}
.SiteExample a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  margin-bottom: 20px;
  border-bottom: 4px solid red;
}
.SiteExample div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.SiteExample img {
  width: 90%;
  margin-bottom: 50px;
  border-radius: 30px;
}
@media only screen and (max-width: 600px) {
  .SiteExample h2 {
    width: 80%;
  }
}
