body {
  margin: 0;
  font-family: Vazir-Black, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: darkslateblue; */
  background-image: url(/src/assets/images/wallpaper.jpg);
  background-size: cover;
}
@font-face {
  font-family: "Vazir-Black";
  src: local("Vazir-Black"), url("./assets/fonts/Vazir-Black.ttf");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
