.text h2 {
  border-bottom: 1px solid red;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  width: 50%;
}
.text p {
  margin: auto;
  text-align: justify;
  width: 50%;
  font-size: 17px;
}
.text img {
  width: 10%;
  margin-left: 10px;
}
.text div {
  display: flex;
  justify-content: space-around;
}
